body {
    background-image: url(back\ texture.png);
    background-size: cover;
    max-width: 2000px;
    min-width: 2000px;
}

.bottomnav {
background-color:#beb6a6;
opacity: 50%;
padding: 20px;
margin: 50px -5px -5px -5px;
display: flex;
justify-content: space-around;
align-items: center
}

.nav {
list-style: none;
font-size: 30px;
font-family: "Barlow", sans-serif;
color: #65503a;
}

.main {
  background-image: url(Book\ Page.png);
    background-size: cover;     
    opacity: 95%;
    padding: 20px;
    border-radius: 3px;
    margin: 50px 450px 20px 450px;
    text-align: center;
}
.body {
    font-size: 35px;
  font-family: "Barlow", sans-serif;
    color: #65503a;
    margin: 75px 100px 75px 100px;
    text-align: center;
    line-height: 90px;
}

.class {
    font-size: 30px;
  font-family: "Barlow", sans-serif;
    color: #51412f;
    margin: 20px 100px 20px 100px;
    text-align: center;
}
.genre {
    font-size: 40px;
  font-family: "Bungee", sans-serif;
    color: #51412f;
    margin: 75px 150px 20px 150px;
    text-align: center;
}
.title {
    font-size: 65px;
font-family: "Bungee", sans-serif;
    color: #3a2e21;
    margin: 150px 100px 150px 100px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color:#beb6a6;
    opacity: 75%;
    border: #51412f 3px solid;


}

a:link {
 color: #3a2e21;
 text-decoration: none;
}

a:visited {
  color: #3a2e21;
}

a:hover {
   color: #65503a;
   transition: all 0.3s ease;
}

a:active {
 color: #3a2e21;
}

.homemain {
    margin: 0px 80px 20px 80px;
    text-align: center;
}
.wordmark {
    font-size: 100px;
 font-family: "Bungee", sans-serif;
  font-weight: 400;
    color: #c7c6c4;
    margin: 50px 100px 50px 100px;
    text-align: center;
}
.homebody {
    background-color:#c7c6c4;
    border: #51412f 3px solid;
    opacity: 50%;
    padding: 10px;
    border-radius: 10px;
    margin: 0px 110px 20px 110px;
    text-align: center;
}
.bookshelf {
   position: absolute;
    width: 2000px;
    margin: 0 auto;
}

.shelf {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.books{
    position: absolute;
    width: 165px;
    transition: transform 0.3s ease;
    list-style: none;
    filter: drop-shadow(1px 2px 3px #16110d );
    
}

.books:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.wiegtsgb{
    top: 150px;
    left: 550px;
    width: 400px;
}
.antr {
    top: 150px;
    left: 1350px;
    width: 400px;
}

.gwtc {
    top: 490px;
    left: 890px;
    width: 400px;
}

.tcco{
    top: 830px;
    left: 225px;
    width: 400px;
}

.ab{
    top: 830px;
    left: 1250px;
    width: 400px;
}
.page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}