body {
    background-image: url(back\ texture.png);
    background-size: cover;
}
.topnav {
background-color:#beb6a6;
opacity: 50%;
padding: 20px;
margin: -25px -6px 10px -6px;
display: flex;
justify-content: space-around;
align-items: center
}


.nav {
list-style: none;
font-size: 30px;
font-family: "Barlow", sans-serif;
color: #65503a;
}
.nav1 {
list-style: none;
font-size: 49px;
font-family: "Bungee", sans-serif;
color: #65503a;
}
.main {
    background-color:#beb6a6;
     opacity: 75%;
    padding: 20px;
    border-radius: 10px;
    margin: 50px 150px 20px 150px;
    text-align: center;
}
.body {
    font-size: 20px;
  font-family: "Barlow", sans-serif;
    color: #65503a;
    margin: 20px 100px 20px 100px;
    text-align: center;
}

.class {
    font-size: 30px;
  font-family: "Barlow", sans-serif;
    color: #51412f;
    margin: 20px 100px 20px 100px;
    text-align: center;
}
.genre {
    font-size: 40px;
  font-family: "Bungee", sans-serif;
    color: #51412f;
    margin: 20px 150px 20px 150px;
    text-align: center;
}
.title {
    font-size: 65px;
font-family: "Bungee", sans-serif;
    color: #3a2e21;
    margin: 40px 100px 10px 100px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color:#beb6a6;
    opacity: 75%;
    border: #51412f 3px solid;


}
.bottomnav {
background-color:#beb6a6;
opacity: 50%;
padding: 20px;
margin: 50px -5px -5px -5px;
display: flex;
justify-content: space-around;
align-items: center
}

a:link {
 color: #3a2e21;
 text-decoration: none;
}

a:visited {
  color: #3a2e21;
}

a:hover {
   color: #65503a;
   transition: all 0.3s ease;
}

a:active {
 color: #3a2e21;
}

.homemain {
    margin: 0px 80px 20px 80px;
    text-align: center;
}
.wordmark {
    font-size: 100px;
 font-family: "Bungee", sans-serif;
  font-weight: 400;
    color: #c7c6c4;
    margin: 50px 100px 50px 100px;
    text-align: center;
}
.homebody {
    background-color:#c7c6c4;
    border: #51412f 3px solid;
    opacity: 50%;
    padding: 10px;
    border-radius: 10px;
    margin: 0px 110px 20px 110px;
    text-align: center;
}
.bookshelf {
   position: relative;
    width: 1500px;
    margin: 0 auto;
}

.shelf {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.books{
    position: absolute;
    width: 125px;
    transition: transform 0.3s ease;
    list-style: none;
    filter: drop-shadow(1px 2px 3px #16110d );
    
}

.books:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.wiegtsgb{
    top: 495px;
    left: 335px;
    width: 220px;
}
.antr {
    top: 496px;
    left: 830px;
    width: 270px;
}

.gwtc {
    top: 730px;
    left: 550px;
    width: 270px;
}

.tcco{
    top: 955px;
    left: 100px;
    width: 240px;
}

.ab{
    top: 955px;
    left: 785px;
    width: 270px;
}
.page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}