body {
    background-image: url(willievergettosaygoodbyeback.png);
    background-size: cover;
}

.nav {
list-style: none;
font-size: 15px;
font-family: "Barlow", sans-serif;
color: #fffffd;
}

a:link {
 color: #1d1d1d;
 text-decoration: none;
}

a:visited {
  color: #1d1d1d;
}

a:hover {
   color: #65503a;
   transition: all 0.3s ease;
}

a:active {
 color: #1d1d1d;
}

.bottomnav {
display: flex;
justify-content: space-around;
align-items: center
}

.title {
    font-size: 75px;
    font-family: "Alex Brush", cursive;
    color: #1d1d1d;
    margin: 250px 150px 250px 150px;
    text-align: center;
    padding: 3px;
}
.main {
  background-image: url(Book\ Page.png);
    background-size: cover;
    opacity: 95%;
    padding: 5px;
    margin: 250px 250px 20px 250px;
    text-align: center;
}
.body {
font-family: "Goudy Bookletter 1911", serif;
    font-size: 25px;
line-height: 55px;
    color: #1d1d1d;
    text-align: left;
 padding: 12px;
    margin: -5px 50px 0px 75px;
     text-indent: 2em;


}
.opt {
    font-size: 25px;
font-family: "Goudy Bookletter 1911", serif;
    color: #1d1d1d;
    text-align: center;
    list-style: none;
    display: inline-block;
    align-items: center;
    margin: 20px 15px 20px 15px;
}

.chapter {
   font-size: 75px;
font-family: "Goudy Bookletter 1911", serif;
      font-weight: 300;
  font-style: normal;
    color: #1d1d1d;
    text-align: center;
    margin: 100px 0px 0px 0px;
}

.start {
   font-size: 55px;
font-family: "Goudy Bookletter 1911", serif;
    text-align: center;
    list-style: none;
    margin: 250px 0px 250px 0px;
}