body {
    background-color: #141f1f;
}

a:link {
 color: #304039;
 text-decoration: none;
}

a:visited {
  color: #304039;
}

a:hover {
   color: #a5a890;
   transition: all 0.3s ease;
}

a:active {
 color: #304039;
}


.title {
  font-size: 45px;
 font-family: "Courier Prime", monospace;
line-height: 35px;
    color: #15211c;
    text-align: center;
 padding: 12px;
    margin: 150px 150px 150px 150px;
}
.main {
    background-image: url(ccopaper.png);
    opacity: 95%;
    padding: 5px;
    margin: 150px 150px 20px 150px;
    text-align: center;
}
.body {
    font-size: 18px;
 font-family: "Courier Prime", monospace;
line-height: 35px;
    color: #15211c;
    text-align: center;
 padding: 12px;
    margin: 0px 175px 50px 175px;
}

.opt {
    font-size: 20px;
 font-family: "Courier Prime", monospace;
line-height: 35px;
    color: #15211c;
    text-align: center;
 padding: 12px;
    margin: 0px 175px 0px 120px;
    list-style: none;
}

.chapter {
  font-size: 35px;
 font-family: "Courier Prime", monospace;
line-height: 35px;
    color: #15211c;
    text-align: center;
 padding: 12px;
    margin: 150px 150px 50px 150px;
}
.container {
    text-align: center;
    margin: 0px 0px 125px 0px;
}

.opts {
    font-size: 20px;
 font-family: "Courier Prime", monospace;
line-height: 35px;
    color: #15211c;
    text-align: center;
 padding: 12px;
    margin: 0px 175px 0px 120px;
    list-style: none;
    display: inline-block;
}
